<!DOCTYPE html>
<html lang=”en”>
  <head>
    <meta charset=”UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
    <meta http-equiv=”X-UA-Compatible” content=”ie=edge”>
    <link rel = "stylesheet"
      type = "text/css"  
      href = "static/style.css" />
    <title>Scraper for goingbirding.co.uk</title>
  </head>
  <body>
    <h1>Search for Hampshire sightings from Goingbirding</h1>
    <form action="/search">
      <label for="fromdate">From: </label>
      <input type="date" id="fromdate" name="fromdate" value="{{ fromdate }}">
      <label for="todate">To: </label>
      <input type="date" id="todate" name="todate" value="{{ todate }}">
      <input type="submit">
    </form>
  </body>
</html>

